.card {
  width: 750px;
  padding: 90px;
  border-radius: 30px;
  background-color: beige;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.stock {
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.in {
  background-color: green;
}

.out {
  background-color: red;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(147, 247, 59, 0.2);
}
.product-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1px;
}
